.wrapper{
    max-width: 1366px;
    margin-right: 25px;
	margin-left: 25px;
}

.container{
	display: grid;
	background-color: rgba(71, 71, 71, 0.15);
	grid-template-rows: auto;
	grid-gap: 10px 10px;
	grid-template-areas:
		"heading"
		"images"
		"image-info"
		"button"
}

.heading{
    grid-area: heading;
    text-align: center;
}

.heading h1{
    font-size: 50px;
    color: rgb(150, 0, 30);
    margin-top: 0px;
}

.images{
    grid-area: images;
    margin-left: auto;
    margin-right: auto;
}

.images img{
    border-radius: 20px;
	width: 500px;
	height: 500px;
}

.info{
    grid-area: image-info;
    text-align: center;
}

p{
    color:  rgb(150, 0, 30);
    display: inline;
    font-size: 20px;
    margin-left: 20px;
}

#contact{
    background: #563434;
    color: #fff;
    padding: 8px 200px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    border-color: #563434;
    transition: 0.5s;
}

#contact:hover {
    background: #ff523b;
    border-color: #ff523b;
    transform: translateY(6px);
}

.btn{
    grid-area: button;
    text-align: center;
}


#btn{
    background: #563434;
    color: #fff;
    padding: 8px 200px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    border-color: #563434;
}

#btn:hover {
    transition: 0.5s;
    background: #ff523b;
    border-color: #ff523b;
    transform: translateY(6px);
}